
@{
    ViewBag.Title = "WelcomeNoEncodingNeitherHereNorInWebpage";
}

<h2>WelcomeNoEncodingNeitherHereNorInWebpage</h2>

<div>
    the data below is not encoded neither by controler nor by razor
    <br />
    <br />
    @ViewData["non-encoded"]
</div>
